/*var*/

$bg-head:rgb(61,111,174);
$text-white:#fff;
$br:#e1e1e1;

$text-df:#323232;
$text-ash:$text-df;
$text-blue:$bg-head;
$bg-f8:#f8f8f8;







//=================下面编写scss页面代码======================




