/**admin**/

.admin {}

// 左边标题
.admin-left {
    position: relative;
    height: 100%;
    width: 14%;
    .ttl-1 {
        border: 1px solid $br;
        border-top: none;
        padding-left: 15px;
        height: 44px;
        line-height: 44px;
        font-size: 18px;
    }
    .box-big {
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        border-right: 1px solid $br;
        height: 400px;
        // 一级菜单
        .nemu-1 {
            margin: 0;
            padding: 0;
            >li {
                padding: 12px;
                border-bottom: 1px solid $br;
                transition: all .5s;
                &:hover {
                    cursor: pointer;
                }
                // 图标
                .iconfont {
                    margin-right: 10px;
                    font-size: 24px;
                }
                a {
                    margin-left: 10px;
                    font-size: 16px;
                }
                &+li {
                    border-top: none;
                }
                &.active {
                    background: $bg-head;
                    span {
                        color: $text-white;
                    }
                    >a {
                        color: $text-white !important;
                    }
                }
            }
        }
        // 二级菜单 
        .nemu-2 {
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 2;
            display: none;
            width: 180px;
            margin: 0;
            padding: 10px 0;
            min-height: 100px;
            background: $text-white;
            box-shadow: 2px 2px 5px #999, 2px -2px 5px #ccc;
            li {
                >a {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 10px 25px;
                    color: $text-ash;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: all .4s;
                    &:hover {
                        background: #f0f0f0;
                    }
                }
                &.active>a {
                    background: lighten( $bg-head, 10%);
                    color: $text-white;
                }
            }
        }
    }
}

// 兼容 ie8
.no-rgba {
    .nemu-2 {
        border: 1px solid #ddd;
    }
}

// 右边内容
.admin-right {
    width: 86%;
    .ttl-1 {
        position: relative;
        z-index: 1;
        height:  43px;
        width: 100%;
        //  border-bottom: 1px solid $br;
        li {
            position: relative;
            float: left;
            height: 43px;
            line-height: 43px;
            padding: 0 30px 0 20px;
            border-right: 1px solid $br;
            font-size: 14px;
          
            &:hover {
                cursor: pointer;
            }
            .close {
                position: absolute;
                top: 10px;
                right: 5px;
                color: #333;
                &:hover {
                    color: red;
                }
            }
            
           &.active{
               color:$brand-primary;
               border-bottom: 1px solid $text-white;
           } 
        }
        
        
    }
    // iframe
    .iframe-big {
        position: relative;
         z-index: -1;
        width: 100%;
      top:-1px;
        border-top: 1px solid $br;
        // iframe-boox
        .iframe-box {
            margin-top: 20px;
            border: none;
        }
    }
}