/**admin**/

.admin {}

// 左边标题
.admin-left {
    position: relative;
    height: 100%;
    width: 14%;
    .ttl-1 {
        border: 1px solid $br;
        border-top: none;
        height: 44px;
        line-height: 44px;
        font-size: 18px;
        text-align: center;
    }
    .box-big {
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        border-right: 1px solid $br;
        height: 400px;
        // 一级菜单
        .nemu-1 {
            margin: 0;
            padding: 0;
            >li {
                padding: 12px;
                text-align: center;
                border-bottom: 1px solid $br;
                transition: all .5s;
                &:hover {
                    cursor: pointer;
                }
                // 图标
                .iconfont {
                    margin-right: 5px;
                    font-size: 24px;
                    &.icon-yiweizhuanhuan {
                        font-size: 20px;
                    }
                }
                a {
                    margin-left: 10px;
                    font-size: 16px;
                }
                &+li {
                    border-top: none;
                }
                &.active {
                    background: $bg-head;
                    span {
                        color: $text-white;
                    }
                    >a {
                        color: $text-white !important;
                    }
                }
            }
        }
        // 二级菜单 
        .nemu-2 {
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 2;
            display: none;
            width: 180px;
            margin: 0;
            padding: 10px 0;
            min-height: 100px;
            background: $text-white;
            box-shadow: 2px 2px 5px #999, 2px -2px 5px #ccc;
            li {
                >a {
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 10px 25px;
                    color: $text-ash;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: all .4s;
                    text-align: left;
                    &:hover {
                        background: #f0f0f0;
                    }
                }
                &.active>a {
                    background: lighten( $bg-head, 10%);
                    color: $text-white;
                }
            }
        }
    }
}

// 兼容 ie8
.no-rgba {
    .nemu-2 {
        border: 1px solid #ddd;
    }
}

// 右边内容
.admin-right {
    position: relative;
    width: 86%;
    //ttl wrap
    .wrap-ttl {
        position: relative;
       //padding: 0 20px;
         border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        box-shadow: 2px 0px 5px #f0f0f0 inset ,-2px 0px 5px #f0f0f0 inset;
        overflow: hidden;
    }
    // 左右键移动btn
    .warp-left-btn,
    .warp-right-btn {
        position: absolute;
         z-index: 99;
        top:5px;
        display: none;
        padding: 10px 3px;
        color:#fff;      
        background:#333;
        background:rgba(#333,0.5);
        
        cursor: pointer;
         outline: none;
        
        &:hover{
              
              background:rgba(#333,0.9);
              color:#fff;
        }
    }
     .warp-left-btn{
       left: 1px;  
     }
     
     .warp-right-btn{
         right: 1px;
     }
     
     
    ul.ttl-1 {
        position: relative;
        z-index: 1;
        height: 43px;
        left: 0;
       
        float: left;
        white-space: nowrap;
        //  border-bottom: 1px solid $br;
        li {
            position: relative;
            display: inline-block;
            float: none;
            height: 43px;
            line-height: 43px;
            padding: 0 30px 0 20px;
            border-right: 1px solid $br;
            font-size: 14px;
            &:hover {
                cursor: pointer;
            }
            .close {
                position: absolute;
                top: 10px;
                right: 5px;
                color: #333;
                &:hover {
                    color: red;
                }
            }
            &.active {
                color: $brand-primary;
                border-bottom: 1px solid $text-white;
                font-weight: 600;
            }
            
            &:first-child{
                 border-left: 1px solid $br; 
            }
        }
    }
    //  btn-refresh
    .btn-refresh {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 9;
        margin: 0;
        color: #666;
        border: none;
        background: #f8f8f8;
        outline: none;
        &:hover {
            color: $text-blue;
        }
    }
    // iframe
    .iframe-big {
        width: 100%;
        border-top: 1px solid $br;
        overflow: hidden;
    }
    // iframe-boox
    .iframe-box {
        position: relative;
        display: none;
        border: none;
        width: 100% !important;
        overflow: scroll;
        &.active {
            display: block;
             animation:  showIframe .5s  linear  both;
        }
    }
    @keyframes showIframe{
        0%{
            opacity: 0;
            transform: translateX(50px);
        }
           100%{
               opacity: 1;
             transform: translateX(0px);  
           }
    }
}