/**系统管理**/

// 标题
.system-ttl {
  padding: 20px 10px;

        font-size: 18px;
        
        .iconttl {
           
            margin-right: 5px;
             font-size: 20px;
            color:$text-ash;
        }
    
}

//表单查询
.system-form{
    padding: 10px 10px 10px 20px;
    background: $bg-f8;
    
     .form-group{
         margin-bottom:0 ;
         
         .form-control{
             width: 150px;
         }
     }
    .form-group+.form-group{
        margin-left: 10px;
    }
    
    
    //add-btns
     .form-group.add-btns{
      
        
      margin-left: 5%; 
      .btn+.btn{
          margin-left: 10px;
      } 
    }
}



// 列表
.system-list{
    
    margin-top: 20px;
    .table{
        th,
        td{
            text-align:center;
         padding-left: 2px;
         padding-right: 2px;
        }
        
        th{
            background: $bg-f8;
        }
        
        tr:nth-child(odd){
          background: $bg-f8;
        }
        
        
    }
}


// system-paging
.system-paging{
    margin-top: 30px;
    padding-right: 30px;
    text-align: right;
}
